{% extends "layout/main.html" %}

{% block body %}

<div class="row">
  
  <!--<img src="../static/img/HomeImg.png"> 

   <div class="span6">
    <iframe width='1280' height='800' frameBorder='0' src='http://a.tiles.mapbox.com/v3/baunilha.map-strc2w0s.html#16/40.73037536921354/-73.99818586960039'></iframe>
    <img src="../static/img/i2.png" style="position: absolute; top: 0; left: 0;"/>
  </div> -->

	 
  		<iframe width='1280' height='800' frameBorder='0' src='http://a.tiles.mapbox.com/v3/baunilha.map-strc2w0s.html#16/40.73037536921354/-73.99818586960039' style="position: absolute; top: 0; left: 0;"></iframe>
  		<img src="../static/img/layertop.png" style="position: absolute; top: 0; left: 0;"/>
  		
	

</div>


{% endblock %}


{% block scripts %}
{% endblock%}

