{% extends "layout/main.html" %}

{% block styles %}{% endblock %}

{% block body %}

<div class="row">

      <iframe id="map_places" width='1280' height='800' frameBorder='0' src='http://a.tiles.mapbox.com/v3/baunilha.map-dq5f4vpi.html#16/40.733089417448404/-73.99809841537471' style="position: absolute; top: 0; left: 0;"></iframe>
      
  		<iframe id="map_pure" width='1280' height='800' frameBorder='0' src='http://a.tiles.mapbox.com/v3/baunilha.map-strc2w0s.html#16/40.733089417448404/-73.99809841537471' style="position: absolute; top: 0; left: 0;"></iframe>
  		
      <img id="phone" src="../static/img/phoneLayer.png" height="800" width="1281" style="position: absolute; top: 0; left: 0;"/>

      <div id="video_div" class="span5" style="position: absolute; top: 60px; left: 60px;">
      <!-- video appears here -->
      </div>
  		
</div>


{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="/static/js/swfobject.js"></script> 
  <script src="http://js.pusher.com/1.12/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('{{ PUSHER_KEY }}');
    var channel = pusher.subscribe('ghost_demo');
    
    channel.bind('incoming_digits', function(data){
      console.log(data);
      
      display_video(data.msg); // display the video
    });


  function displayPhoneImg() {
    jQuery('img#phone').show(); // shows the phone layer back after video is finished
    jQuery('#video_div').html(''); //remove iframe from videodiv
  }


  // choosing video function
  function display_video(message) {
    console.dir(message);
    jQuery("img#phone").hide(); // hide the phone layer when video starts

    if (message == "1") {
      video = 'hZPXzP4nXWY';
      
      setInterval(displayPhoneImg,60000); // 60 second timer for hiding/displaying

    }
    if (message == "2") {
      video = 'z66jDrc1EQY';
      setInterval(displayPhoneImg,60000); // 60 second timer for hiding/displaying
    }

    video_html = '<iframe width="560" height="315" src="http://www.youtube.com/embed/' + video + '?autoplay=1" frameborder="0" allowfullscreen></iframe>';

    jQuery('#video_div').html(video_html);

  }
    

  </script>
  
{% endblock %}

